<head>
  <meta charset="UTF-8" /> <!--кодировка HTML страницы-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Курсовая работа</title> <!--заголовок HTML страницы-->
  <link rel="stylesheet" href="css/style.css" /> <!--подключение стилей к курсвой работе-->
  <link rel="stylesheet" href="libs/styles/github.css"> <!--подключение стилей для раскраски примера кода в курсовой работе-->
</head>
<body>
  <div class="main_block"><!--блок отвечающий за размер страницы в виде А4-->
    <div class="first_block">
      <p class="minis_obr">
        Министерство образования и науки Республики Казахстан<br />
        Павлодарский государственный университет имени С. Торайгырова<br />
        Факультет «Физики, математики и информационных технологий»<br />
        Кафедра «Информационные технологии»
      </p>
      <p class="course_work">КУРСОВАЯ РАБОТА</p>
    </div>
    <div class="theme">
      <p class="about_course">
        <b>По специальности</b> «Вычислительеная техника и программное
        обеспечение»
      </p>
      <hr class="line_bot_txt_1" />
      <p class="about_course">
        <b>Дисциплине</b> «Web-программирование 1 (HTML, JavaScript)»
      </p>
      <hr class="line_bot_txt_2" />
      <p class="about_course">
        <b>Тема</b> «Веб-разработка страницы с использованием сервиса для разработки интерфейсов и прототипирования Figma»
      </p>
      <hr class="line_bot_txt_3" />
      <div class="raiting">
        <span class="ocenka">5</span>
        <hr class="line_bot_rait" />
        <span class="rait_txt">(оценка)</span>
      </div>
      <div class="team_comiss">
        <div class="team_comis_and_norm">
          <p class="team_comis"><b>Члены комиссии</b></p>
          <span class="team_comis_name_1">ст. преподователь</span>
          <hr class="line_team_comis" />
          <span class="team_comis_txt">(должность,ученая степень)</span>
          <span class="team_comis_name_1">А. Е. Жаксылыков</span>
          <hr class="line_team_comis" />
          <span class="team_comis_txt">(инициалы,фамилия)</span>
          <div class="podp_data">
            <div class="pd">
              <span class="team_comis_name_pd">подпись</span>
              <hr class="line_team_comis_podp" />
              <span class="team_comis_txt">(подпись)</span>
            </div>
            <div class="pd">
              <span class="team_comis_name_pd">дата</span>
              <hr class="line_team_comis_date" />
              <span class="team_comis_txt">(дата)</span>
            </div>
          </div>
          <span class="team_comis_name_1">ст.преподаватель</span>
          <hr class="line_team_comis" />
          <span class="team_comis_txt">(должность,ученая степень)</span>
          <span class="team_comis_name_1">А. З. Даутова</span>
          <hr class="line_team_comis" />
          <span class="team_comis_txt">(инициалы,фамилия)</span>
          <div class="podp_data">
            <div class="pd">
              <span class="team_comis_name_pd">подпись</span>
              <hr class="line_team_comis_podp" />
              <span class="team_comis_txt">(подпись)</span>
            </div>
            <div class="pd">
              <span class="team_comis_name_pd">дата</span>
              <hr class="line_team_comis_date" />
              <span class="team_comis_txt">(дата)</span>
            </div>
          </div>
          <p class="team_norm"><b>Нормоконтролер</b></p>
          <span class="team_comis_name_1">ст.преподаватель</span>
          <hr class="line_team_comis" />
          <span class="team_comis_txt">(должность,ученая степень)</span>
          <span class="team_comis_name_1">А. З. Даутова</span>
          <hr class="line_team_comis" />
          <span class="team_comis_txt">(инициалы,фамилия)</span>
          <div class="podp_data">
            <div class="pd">
              <span class="team_comis_name_pd">подпись</span>
              <hr class="line_team_comis_podp" />
              <span class="team_comis_txt">(подпись)</span>
            </div>
            <div class="pd">
              <span class="team_comis_name_pd">дата</span>
              <hr class="line_team_comis_date" />
              <span class="team_comis_txt">(дата)</span>
            </div>
          </div>
        </div>
        <div class="team_comis_and_norm">
          <p class="team_ruc_ob"><b>Руководитель</b></p>
          <span class="team_comis_name_1">к. ф. м. н., профессор</span>
          <hr class="line_team_comis" />
          <span class="team_comis_txt">(должность,ученая степень)</span>
          <span class="team_comis_name_1">Л. Г. Хомутенко</span>
          <hr class="line_team_comis" />
          <span class="team_comis_txt">(инициалы,фамилия)</span>
          <div class="podp_data">
            <div class="pd">
              <span class="team_comis_name_pd">подпись</span>
              <hr class="line_team_comis_podp" />
              <span class="team_comis_txt">(подпись)</span>
            </div>
            <div class="pd">
              <span class="team_comis_name_pd">дата</span>
              <hr class="line_team_comis_date" />
              <span class="team_comis_txt">(дата)</span>
            </div>
          </div>
          <p class="team_ruc_ob"><b>Обучающийся</b></p>
          <span class="team_comis_name_1">В. А. Голышев</span>
          <hr class="line_team_comis" />
          <span class="team_comis_txt">(инициалы,фамилия)</span>
          <span class="team_comis_name_1">ВТиП-302</span>
          <hr class="line_team_comis" />
          <span class="team_comis_txt">(группа)</span>
          <div class="podp_data">
            <div class="pd">
              <span class="team_comis_name_pd">подпись</span>
              <hr class="line_team_comis_podp" />
              <span class="team_comis_txt">(подпись)</span>
            </div>
            <div class="pd">
              <span class="team_comis_name_pd">дата</span>
              <hr class="line_team_comis_date" />
              <span class="team_comis_txt">(дата)</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="first_block">
      <p class="year">2020</p>
    </div>
  </div>
  <div class="main_block"><!--блок отвечающий за размер страницы в виде А4-->
    <div class="block-title">
      <div class="title_text">Задание на выполнение<br />курсовой работы</div>
      <div class="title_img"><img src="img/image001.png" alt="рисунок курсовой работы" /></div>
      <div class="title_text">Форма<br />Ф МИ ПГУ 4.01.5/02</div>
    </div>
    <div class="first_block">
      <p class="minis_obr">
        Министерство образования и науки Республики Казахстан<br />
        Павлодарский государственный университет имени С. Торайгырова
      </p>
    </div>
    <div class="block_dan">
      <p class="about_course">
        Факультет
        <span>«Физики, математики и информационных технологий»</span>
      </p>
      <p class="about_course">
        Кафедра <span>«Информационные технологии»</span>
      </p>
      <p class="about_course">
        Специальность
        <span>«Вычислительеная техника и программное обеспечение»</span>
      </p>
    </div>
    <div class="block_stat">
      <div class="stat_text">
        <span>Утверждаю</span> <br />
        Заведующий кафедрой ИТ <br />
        доцент. профессор, <br />
        канд. пед. наук <br />
        __________ Н. Н. Оспанова <br />
        ____ __________ 2020 года
      </div>
    </div>
    <div class="block_text">
      <div class="work_first_page">ЗАДАНИЕ</div>
      <div class="block_text-title2">на выполнение курсовой работы</div>
    </div>
    <div class="block_text-fio">
      <p class="about_course">
        Обучающемуся <span>Голышеву Валентину Андреевичу</span>
      </p>
      <span class="team_comis_txt">(инициалы,фамилия)</span>
      <p class="about_course">
        Тема КР:
        <span>«Веб-разработка страницы с использованием сервиса для разработки интерфейсов и прототипирования Figma»</span>
      </p>
      <p class="about_course">
        Срок сдачи законченного проекта <span> 1 мая 2020 года</span>
      </p>
      <p class="about_course">
        Исходные данные к КР:
        <span>Методическое указание к курсовой работе.</span>
      </p>
      <p class="about_course">
        Перечень подлежащих разработке в КР вопросов:<br />1)
        <span>Программное обеспечение Figma</span> <br />2)
        <span>Программное обеспечение OpenServer</span><br />3)
        <span>CMS Modx Evolution</span>
      </p>
    </div>
  </div>
  <div class="main_block"><!--блок отвечающий за размер страницы в виде А4-->
    <div class="block-title">
      <div class="title_text">Задание на выполнение<br />курсовой работы</div>
      <div class="title_img"><img src="img/image001.png" alt="рисунок курсовой работы" /></div>
      <div class="title_text">Форма<br />Ф МИ ПГУ 4.01.5/02</div>
    </div>
    <div class="block_graphik">
      Перечень графического материала с точным указанием обязательных
      чертежей: <br />
      __________________________________________________________________
    </div>
    <div class="block_reg-lit">
      Рекомендуемая основная литература:
      <span>Frontend Architecture for Design Systems Author: Micah Godbolt, Micah Godbolt, Inc. 2016 O’Reilly Media. Основы работы с HTML-редактором Dreamweaver Бурсов М.В. и др. 2002 HTML и CSS на примерах СПб: БХВ-Петербург, 2005 MODx Web Development, Antano Solar John, Antano Solar John, 2009 Packt MODx Web Development - Second Edition, Antano Solar John, 2011 Packt Разработка пользовательских интерфейсов, Тидвелл Дж., Питер, 2008 Виртуальное моделирование, прототипирование и промышленный дизайн: материалы IV Международной научно-практической конференции. г. Тамбов, 15 – 17 ноября 2017 г.</span>
    </div>
    <div class="block_text">
      <div class="block_text-title"><br>График</div>
      <div class="block_text-title2">подготовки курсовой работы</div>
    </div>
    <div class="block_table">
      <table class="table_first">
        <tr>
          <td>Наименование разделов, перечень разрабатываемых вопросов</td>
          <td>Сроки представления руководителю</td>
          <td>Примечание</td>
        </tr>
        <tr class="left_rot">
          <td>Теоретическая часть</td>
          <td>06.02.20 – 01.04.20</td>
          <td></td>
        </tr>
        <tr class="left_rot">
          <td>Практическая часть</td>
          <td>01.04.20 – 01.05.20</td>
          <td></td>
        </tr>
      </table>
    </div>
    <div class="block_rukov">
      <div class="rukov-text rukov_right_ots">Руководитель КР</div>
      <div class="pd">
        <span class="team_comis_name_pd"></span>
        <hr class="line_team_comis_podp" />
        <span class="team_comis_txt">(подпись)</span>
      </div>
      <div class="pd">
        <span style="margin-top: -16px; width: 95px;font-size: 14px;">Л. Г. Хомутенко</span>
        <hr class="line_team_comis_podp" style="width: 112%;" />
        <span class="team_comis_txt">(инициалы, фамилия)</span>
      </div>
    </div>
    <div class="block_rukov block_prin">
      <div class="rukov-text">Задание принял к исполнению обучающийся</div>
      <div class="pd otstup_pd">
        <span class="team_comis_name_pd"></span>
        <hr class="line_team_comis_podp" />
        <span class="team_comis_txt">(подпись)</span>
      </div>
      <div class="pd otstup_pd">
        <span class="team_comis_name_pd" style="margin-top:-17px; color: black;">В. А. Голышев</span>
        <hr class="line_team_comis_podp" />
        <span class="team_comis_txt">(инициалы, фамилия)</span>
      </div>
    </div>
  </div>
  <!-- содержание -->
  <div class="main_block main_content"> <!--блок отвечающий за размер страницы в виде А4-->
    <p class="soderjj"><span class="title_coderj">Содержание</span></p>
    <span class="main_text_soderj">
      <span class="soderj"><span class="number_soderj"></span> <span style="margin-left: 28px;">Введение</span><span
          style="margin-left:374px;">5</span></span>
      <br>
      <span class="soderj"><span class="number_soderj">1</span> <span style="margin-left: 17px;">ОСНОВНАЯ ЧАСТЬ</span>
      </span><span style="margin-left:301px;">6</span><br>
      <span class="soderj"><span class="number_soderj">1.1</span><span
          style="margin-left: 10px;">Программное обеспечение Figma</span></span><span style="margin-left:232px;">6</span><br>
      <span class="soderj"><span class="number_soderj">1.2</span><span style="margin-left: 10px;">Дизайн, прототип и просмотр кода на панели свойств</span></span><span style="margin-left:105px;">10</span><br>
      <span class="soderj"><span class="number_soderj">1.3</span><span style="margin-left: 10px;">Программное обеспечение OpenServer</span></span><span style="margin-left:194px;">11</span><br>
      <span class="soderj"><span class="number_soderj">1.4</span><span style="margin-left: 10px;">Алгоритм создания проекта в Modx Evolution</span></span><span style="margin-left:152px;">12</span><br>
      <span class="soderj"><span class="number_soderj">2</span><span style="margin-left: 20px;">ПРАКТИЧЕСКАЯ ЧАСТЬ</span></span><span style="margin-left:267px;">18</span><br>
      <span class="soderj"><span class="number_soderj">2.1</span><span style="margin-left: 10px;">Исходное задание </span></span><span style="margin-left:314px;">18</span><br>
      <span class="soderj"><span class="number_soderj">2.2</span><span style="margin-left: 10px;"></span>Порядок выполнения</span><span style="margin-left:297px;">18</span><br>
      <span class="soderj"><span class="number_soderj">2.3</span><span style="margin-left: 10px;">Исходный код веб-страниц</span></span><span style="margin-left:264px;">19</span><br>
      <span class="soderj"><span class="number_soderj"></span><span style="margin-left: 28px;">Заключение</span></span><span style="margin-left:352px;">25</span><br>
      <span class="soderj"><span class="number_soderj"></span><span style="margin-left: 28px;">Список использованной литературы</span></span><span style="margin-left:206px;">26</span><br>
    </span><br>
    </span>
  </div>
  <!-- Введение -->
  <div class="main_block main_content"><!--блок отвечающий за размер страницы в виде А4-->
    <p class="soderjj"><span class="title_coderj">Введение</span></p>
    <p class="main_content_text">
      Сегодня веб-разработка полностью отличается от того, что было несколько лет назад; Есть много разных вещей, которые могут легко сбить с толку любого, кто вступает в веб-разработку. Это была одна из причин, по которой я решил сделать данную курсовую работу, и продемонстрировать более широкую картину, и дать кому-либо четкое представление о том, что мы должны соблюдать, чтобы стать настоящим Frontend-разработчиком. 
      Веб-разработка - это постоянно меняющаяся область - то, как мы сегодня создаем сайты, совершенно отличается от того, как мы это делали пару лет назад. С множеством доступных инструментов и новыми, появляющимися каждый день, разработчики в большинстве случаев не понимают, какой путь выбрать.
      Front-end веб-разработка - это практика преобразования данных в графический интерфейс с использованием HTML, CSS и JavaScript, чтобы пользователи могли просматривать и взаимодействовать с этими данными.
      Существует несколько инструментов и платформ (wordpress, magento, modx и т. д.), которые можно использовать для разработки внешнего интерфейса веб-сайта, и понимание того, какие инструменты лучше всего подходят для конкретных задач, отмечает разницу между разработкой взломанного сайта и хорошо разработанным , масштабируемый сайт.
      В данной работе я продемонстрирую свои навыки, и использование инструментов и технологий, которые каждый из нах хотел бы изучить, чтобы получить доступ к веб-интерфейсу, Backend или операциям. В курсовой работе я буду использовать такие инструменты как Figma, OpenServer и CMS Modx Evolution.
    </p>   
    <div class="image_number" >
      <p style="margin-top: 350px;">5</p>
    </div>
  </div>
    <!-- Основная часть -->
  <div class="main_block main_content"><!--блок отвечающий за размер страницы в виде А4-->
    <p class="title_content">1 ОСНОВНАЯ ЧАСТЬ</p>
    <br>
    <p class="title_content">1.1 Программное обеспечение Figma</p>
    <p class="main_content_text" style="margin-bottom: 0px;">
      Figma – одна из платформ, которая объединяет мощные функции дизайна, которые вы уже любите, 
      и более эффективный рабочий процесс для загрузки и работы с макетами для веб-разработчиков.
    </p>
    <p class="main_content_text" style="margin-top:0px;">
      Figma работает на любой операционной системе, в которой работает веб-браузер. Компьютеры Mac, Windows, 
      Linux и даже Chromebook можно использовать с Figma. Это единственный инструмент дизайна такого типа, который делает это, и в магазинах, где используется оборудование, 
      работающее на разных операционных системах, каждый по-прежнему может делиться, открывать и редактировать файлы Figma.
    </p>
    <div class="image_number">
      <img src="img/1.png" style="width: 80%;" alt="рисунок курсовой работы">
      <p>Рисунок 1 – Запуск Figma</p>   
    </div>
    <p class="main_content_text" style="margin:0px;">
      Есть несколько вещей, которые мы хотим настроить в своем браузере, прежде чем начать работать с Figma:
    </p>
    <p class="main_content_text"style="margin:0px;">
      1 Подтвердите, что у вас установлен и включен WebGL
    </p>
    <p class="main_content_text"style="margin:0px;">
      2 Установите масштаб вашего браузера на 100%
    </p>
    <p class="main_content_text"style="margin:0px;">
      3 Убедитесь, что у вас установлена последняя версия браузера
    </p>
    <p class="main_content_text"style="margin:0px;">
      4 Отключить жест влево / вправо (только для MacOS)
    </p>
    <p class="main_content_text"style="margin:0px;">
      5 Установите Figma Font Helper для использования локальных шрифтов
    </p>
    <p class="main_content_text"style="margin:0px;">
      Figma была создана для совместной работы в режиме реального времени в Design. Есть вариант работы через веб-приложение, в котором все члены вашей команды могут одновременно работать вместе в режиме онлайн, и где мы можем автоматически сохранять ваши изменения в облаке. Но иногда наше интернет-соединение ненадежно, или мы застряли на рейсе без Wi-Fi. 
      В Figma нет выделенного «Автономного режима», однако есть еще много функций, которые можно выполнить без подключения к Интернету, если ваш файл уже открыт и загружен.
    </p>
    <div class="image_number">      
      <p>6</p>
    </div>
  </div>
  <div class="main_block main_content"><!--блок отвечающий за размер страницы в виде А4-->
    <p class="main_content_text">
      Figma автоматически сохраняет наши данные в облаке, когда мы находитесь в сети. Если мы не в сети, мы не сможем сохранить наши изменения. Изменения будут синхронизированы при повторном подключении. Если наш компьютер выйдет 
      из строя или аккумулятор разрядится в автономном режиме, наши изменения будут потеряны. Периодически нужно сохранять свою работу, чтобы иметь резервную копию.
    </p>    
    <p class="main_content_text" style="margin:0px;">
      Что нам доступно в автономном режиме:
    </p>
    <p class="main_content_text" style="margin:0px;">
      1 Создание рамок, базовых фигур, векторных сетей
    </p>
    <p class="main_content_text" style="margin:0px;">
      2 Создание и использование локальных компонентов
    </p>
    <p class="main_content_text" style="margin:0px;">
      3 Создание страниц
    </p>
    <p class="main_content_text" style="margin:0px;">
      4 Регулировка свойств слоя (например, заливка, обводка, размеры, положение, порядок слоев)
    </p>
    <p class="main_content_text" style="margin:0px;">
      5 Запускать плагины без ранее установленных API-интерфейсов браузера
    </p>
    <p class="main_content_text" style="margin:0px;">
      6 Сохранение в формате .fig в локальное файловое пространство
    </p>
    <p class="main_content_text" style="margin:0px;">
      Что нам не доступно в автономном режиме:
    </p>
    <p class="main_content_text" style="margin:0px;">
      1 Поиск в вашей библиотеке библиотеки и вставка экземпляров из библиотеки команды
    </p>
    <p class="main_content_text" style="margin:0px;">
      2 Установка новых плагинов
    </p>
    <p class="main_content_text" style="margin:0px;">
      3 Запуск плагинов, которые требуют API внешнего браузера
    </p>
    <p class="main_content_text" style="margin:0px;">
      4 Загрузка истории версий
    </p>
    <p class="main_content_text" style="margin:0px;">
      5 Автосохранение / синхронизация правок в облаке
    </p>
    <p class="main_content_text" style="margin-top:0px;">
      6 Многопользовательские функции, такие как режим наблюдения
    </p>
    <div class="image_number">
      <img style="width: 458px;" src="img/2.png" alt="рисунок курсовой работы">
      <p>Рисунок 2 – Рабочая область Figma</p>
    </div>
    <p class="main_content_text" style="margin: 0px;">
      Для работы с макетом нам нужно открыть его с нашей рабочей области Figma. Для этого нам нужно выполнить  следующие команды:
    </p>
    <p class="main_content_text" style="margin: 0px;">
      1 File
    </p>
    <p class="main_content_text" style="margin: 0px;">
      2 New from Sketch File
    </p>
    <div class="image_number">
      <p>7</p>
    </div>
  </div>
  <div class="main_block main_content"><!--блок отвечающий за размер страницы в виде А4-->
    <p class="main_content_text" style="margin:0px;">
      3 Выбрать нужный нам макет
    </p>
    <p class="main_content_text" style="margin:0px;">
      4 Запустить его
    </p>
    <p class="main_content_text" style="margin-top:0px;">
      5 Приступить к работе с макетом для веб-разработки нашего проекта
    </p>
    <div class="image_number">
      <img style="width: 458px;" src="img/3.png" alt="рисунок курсовой работы">
      <p>Рисунок 3 – Меню открытия проекта</p>
    </div>   
    <div class="image_number">
      <img style="width: 458px;" src="img/4.png" alt="рисунок курсовой работы">
      <p>Рисунок 4 – Открытый макет для работы в Figma</p>
      <p style="margin-top: 130px;">8</p>
    </div>
  </div>
  <div class="main_block main_content"><!--блок отвечающий за размер страницы в виде А4-->
    <div class="image_number">
      <img style="width: 458px;" src="img/5.png" alt="рисунок курсовой работы">
      <p>Рисунок 5 – Пример использования линейки в Figma</p>
    </div>
    <p class="main_content_text">
      В figma мы можем настроить параметры своего редактора в меню View Settings. Мы можете найти это, щелкнув раскрывающийся список Zoom в верхнем правом углу редактора:
    </p>
    <div class="image_number">
      <img style="width: 35%;" src="img/6.png" alt="рисунок курсовой работы">
      <p>Рисунок 6 – Окно увеличения кратности Zoom</p>
    </div>   
    <div class="image_number">
      <p style="margin-top: 30px;">9</p>
    </div>
  </div>
  <div class="main_block main_content">
    <p class="main_content_text" style="margin-top: 0px;">
      Отсюда мы можем переключать свои глобальные настройки, такие как просмотр Layout или Pixel Grids и Multiplayer Cursors. Мы также можем найти настройки Zoom.
    </p>
    <p class="main_content_text" style="margin-top: 0px;">
      Каждую настройку в этом списке можно отключить или включить. Если рядом с настройкой есть проверка,
       то она в настоящее время включена. Если нет проверки, то она в настоящее время отключена.
    </p>
    <p class="main_content_text" style="margin-top: 0px;">
      Затем мы можем нажать на параметр в меню, чтобы включить его.
    </p>
    <p class="title_content">1.2	Дизайн, прототип и просмотр кода на панели свойств</p>
    <p class="main_content_text" style="margin-bottom: 0px;">
      Когда вы находитесь в редакторе, вы увидите боковую панель на каждой стороне холста.
       Наряду с панелью инструментов эти боковые панели составляют пользовательский интерфейс Figma.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      Пользовательский интерфейс Figma позволяет получить доступ, создавать и настраивать элементы вашего дизайна.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      Боковая панель слева дает вам доступ к слоям, активам и страницам, включенным в ваш файл. Мы называем это Панель слоев. Узнайте больше о навигации по панели слоев в нашей статье.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      Боковая панель справа позволяет просматривать и настраивать свойства любого объекта. Вы также можете получить доступ к настройкам прототипа файла 
      и просмотреть код любого выбранного объекта (ов). Мы называем это панелью свойств.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      В этой статье мы познакомим вас с панелью свойств. На верхней панели расположены три заголовка. Вы можете использовать их для переключения между каждой вкладкой.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      Вкладка «Дизайн» позволяет просматривать, добавлять, удалять или изменять свойства объектов в вашем дизайне.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      Когда на панели дизайна ничего не выбрано, вы сможете просматривать любые стили, локальные для файла. Вы также сможете обновить цвет фона холста.
    </p>   
    <div class="image_number">
      <p style="margin-top:260px;">10</p>
    </div>
  </div>
  <div class="main_block main_content"><!--блок отвечающий за размер страницы в виде А4-->
    <div class="image_number">
      <img style="width: 46%;" src="img/7.png" alt="рисунок курсовой работы">
      <p>Рисунок 7 – Окно кода для копирования некоторых CSS стилей</p>
    </div>
    <p class="title_content">1.3	Программное обеспечение OpenServer</p>
    <p class="main_content_text" style="margin-bottom: 0px;">
      Open Server Panel - это портативная серверная платформа и программная среда, разработанная специально для веб-разработчиков с учетом их рекомендаций и пожеланий.
    </p>   
    <p class="main_content_text" style="margin: 0px;">
      Программный комплекс имеет богатый набор серверного программного обеспечения, удобный, многофункциональный продуманный интерфейс, обладает мощными возможностями для администрирования и настройки компонентов. 
      Платформа широко используется для разработки, отладки и тестирования веб-проектов, а также для предоставления веб-сервисов в локальных сетях.
    </p>   
    <p class="main_content_text" style="margin: 0px;">
      Хотя изначально программные продукты, входящие в комплекс, не были предназначены специально для работы друг с другом, этот пакет стал очень популярным среди пользователей Windows, 
      в первую очередь потому, что они получили бесплатный программный пакет с надежностью на уровне серверов Linux.
    </p> 
    <p class="main_content_text" style="margin: 0px;">
      Удобство и простота управления, безусловно, не оставят вас равнодушными, поскольку за время своего существования 
      Open Server зарекомендовал себя как первоклассный и надежный инструмент, необходимый каждому веб-мастеру.
    </p> 
    <div class="image_number">
      <p style="margin-top: 76px;">11</p>
    </div>
  </div>
  <div class="main_block main_content"><!--блок отвечающий за размер страницы в виде А4-->
    <div class="image_number">
      <img style="width: 458px;" src="img/8.png" alt="рисунок курсовой работы">
      <p>Рисунок 8 – Окно настройки параметров OpenServer</p>
    </div>
    <p class="main_content_text">
      Следующим шагом в нашей курсовой работе будет запуск OpenServera.
    </p>
    <div class="image_number">
      <img style="width: 28%;" src="img/9.png" alt="рисунок курсовой работы">
      <p>Рисунок 9 – Окно запуска OpenServer</p>
    </div>
    <p class="title_content">1.4	Алгоритм создания проекта в Modx Evolution</p>
    <p class="main_content_text">
      В данной курсовой работе я создаю веб-страницу с использованием сервис для разработки интерфейсов и прототиппирования.
    </p>
    <div class="image_number">
      <p>12</p>
    </div>
  </div>
  <div class="main_block main_content"><!--блок отвечающий за размер страницы в виде А4-->
    <p class="main_content_text">
      Сначала я установил две программы Figma и OpenServer и далее я установил саму CMS Modx Evolution.
    </p>
    <div class="image_number">
      <img style="width: 322px;" src="img/10.png" alt="рисунок курсовой работы">
      <p>Рисунок 10 – Файлы для установки Modx Evolution</p>
    </div>    
    <p class="main_content_text" >
      1 Заходим на локальный сервер, созданный нами и нажимаем на install now:
    </p>
    <div class="image_number">
      <img style="width: 391px;" src="img/11.png" alt="рисунок курсовой работы">
      <p>Рисунок 11 – Установка Modx Evolution</p>
    </div>  
    <p class="main_content_text">
      Выбираем в появившемся окне «Русский» язык.
    </p>
    <div class="image_number">
      <img style="width: 375px;" src="img/12.png" alt="рисунок курсовой работы">
      <p>Рисунок 12 – Выбор языка Modx Evolution</p>
    </div>  
    <p class="main_content_text" style="margin-bottom: 0px;">      
        3 Выбираем пункт новая установка, жмем «Далее»
    </p>
    <p class="main_content_text" style="margin-top: 0px;">      
      4 Заполняем поле хост, имя пользователя и пароль. В данном окне наш хост, имя пользователя и пароль. 
      Для проверки «Нажмите здесь для проверки соединения с вашим сервером базы данных и получения сопоставления кодировки». Подключение: успех.
  </p> 
    <div class="image_number">
      <p>13</p>
    </div>
  </div>
  <div class="main_block main_content"><!--блок отвечающий за размер страницы в виде А4-->
    <p class="main_content_text">
      5 Далее нам нужно буде ввести имя база данных и префикс таблицы, кодировку и указать метод.
    </p>
    <div class="image_number">
      <img style="width: 410px;" src="img/13.png" alt="рисунок курсовой работы">
      <p>Рисунок 13 – Настройка сервера Modx Evolution</p>
    </div>
    <p class="main_content_text">
      6 Для завершения установки вводим имя администратора, admin, E-mail администратора, пароль, выбираем язык и кликаем далее.
    </p>
    <div class="image_number">
      <img style="width: 410px;" src="img/14.png" alt="рисунок курсовой работы">
      <p>Рисунок 14 – Настройка прав администратора Modx Evolution</p>
    </div>
   
    <div class="image_number">
      <p>14</p>
    </div>
  </div>
  <div class="main_block main_content"><!--блок отвечающий за размер страницы в виде А4-->
    <p class="main_content_text" style="margin-bottom: 0px;">
      7 Установка и настройка MODX Evolution.
    </p>
    <p class="main_content_text" style="margin-top: 0px;">
      8 Перед нами список компонентов, которые будут установлены. Выбираем все и устанавливаем.
    </p>
    <div class="image_number">
      <img style="width: 287px;" src="img/15.png" alt="рисунок курсовой работы">
      <p>Рисунок 15 – Настройка элементов Modx Evolution</p>
    </div>   
    <div class="image_number">
      <p>16</p>
    </div>
  </div>
  <div class="main_block main_content">
    <p class="main_content_text">
      9 Здесь от нас требуется только поставить галочку о согласии с условиями. «Установить».
    </p>
    <div class="image_number">
      <img style="width: 471px;" src="img/16.png" alt="рисунок курсовой работы">
      <p>Рисунок 16 – Завершение установки Modx Evolution</p>
    </div>
    <p class="main_content_text" style="margin-bottom: 0px;">
      9 На этом установка MODX Evolution завершена. 
    </p>
    <p class="main_content_text" style="margin: 0px;">
      Далее входим в панель администратора MODX Evolution
    </p>  
    <div class="image_number">
      <p style="padding-top: 56px;">16</p>
    </div>
  </div>
  <div class="main_block main_content">    
    <div class="image_number">
      <img style="width: 438px;" src="img/17.png" alt="рисунок курсовой работы">
      <p>Рисунок 17 – Вход в менеджер административного управления Modx Evolution</p>
    </div>
    <div class="image_number">
      <img style="width: 438px;" src="img/18.png" alt="рисунок курсовой работы">
      <p>Рисунок 18 – Менеджер Modx Evolution</p>
    </div>
    <div class="image_number">
      <p style="margin-top: 92px;">17</p>
    </div>
  </div>
   <!-- Практическая часть -->
  <div class="main_block main_content">
    <p class="title_content">2	 ПРАКТИЧЕСКАЯ ЧАСТЬ</p>
    <p class="title_content">2.1 Исходное задание</p>
    <p class="main_content_text" style="margin-top: 0px;">
      Заданием для курсовой работы было разработка веб-страницы с 
      использованием сервиса для разработки интерфейсов и прототиппирования Figma и реализации самой веб-страницы на CMS Modx Evolution.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      Для реализации использовались следующие средства: 
    </p>
    <p class="main_content_text" style="margin: 0px;">
      1) Figma. 
    </p>
    <p class="main_content_text" style="margin: 0px;">
      2) OpenServer. 
    </p>
    <p class="main_content_text" style="margin: 0px;">
      3) CMS Modx Evolution. 
    </p>
    <p class="title_content">2.2 Порядок выполнения</p>
    <p class="main_content_text" style="margin-bottom: 0px;">
      1 Создание главной страницы с помощью HTML-разметки, CSS-стилей.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      2 Создание страницы «О компании» с помощью HTML-разметки, CSS-стилей.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      3 Создание страницы «Партнером» с помощью HTML-разметки, CSS-стилей.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      4 Создание страницы «Наша продукция» с помощью HTML-разметки, CSS-стилей.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      5 Создание страницы «Вакансии» с помощью HTML-разметки, CSS-стилей.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      6 Создание страницы «Новости» с помощью HTML-разметки, CSS-стилей.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      7 Создание страницы «Рецепты» с помощью HTML-разметки, CSS-стилей.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      8 Создание страницы  «Новинки» с помощью HTML-разметки, CSS-стилей. 
    </p>
    <p class="main_content_text" style="margin: 0px;">
      9 Создание страницы «Это интересно» с помощью HTML-разметки, CSS-стилей.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      10 Создание страницы «Вопрос ответ» с помощью HTML-разметки, CSS-стилей.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      11 Создание страницы «Контакты» с помощью HTML-разметки, CSS-стилей.
    </p>
    <p class="main_content_text" style="margin: 0px;">
      12 Создание страницы «Торговое оборудование» с помощью HTML-разметки, CSS-стилей. 
    </p>
    <p class="main_content_text" style="margin: 0px;">
      13 Создание всплывающего окна «Карта сайта» с помощью HTML-разметки, CSS-стилей, JS-скрипта.
    </p>
    <div class="image_number">
      <p style="margin-top: 109px;">18</p>
    </div>
  </div>  
  <div class="main_block main_content">
      <div class="image_number">
      <img style="width: 266px;" src="img/19.png" alt="рисунок курсовой работы">
      <p>Рисунок 19 – Структура сайта</p>
    </div>
    <p class="title_content">2.3 Исходный код веб-страниц</p> 
    <p class="main_content_text" style="margin: 0px;">
     Главная: 
    </p>
     <pre style="margin: 0px;">
       <code >
        &lt;!doctype html&gt;
        &lt;html lang="ru"&gt;
          &lt;head&gt;
            {{head}}
          &lt;/head&gt;
          &lt;body&gt;
            {{header}}
            &lt;main&gt;
              &lt;div class="container"&gt;
                &lt;div class="slider"&gt;                  
       </code>
     </pre>
      <div class="image_number">
      <p style="margin-top: 40px;">19</p>
    </div>
  </div>
  <div class="main_block main_content">   
    <pre><code>
                   &lt;div class="swiper-container"&gt;
                    &lt;div class="swiper-wrapper"&gt;
                      [[multiTV?
                      &tvName=`slider`
                      &docid=`[*id*]`
                      &display=`all`]]
                    &lt;/div&gt;
                    &lt;div class="swiper-pagination"&gt;&lt;/div&gt;
                  &lt;/div&gt;
                  &lt;/div&gt;
                  &lt;div class="main-categories block"&gt;
                      &lt;h2&gt;Наша продукция&lt;/h2&gt;
                      &lt;div class="main-cat flex_top"&gt;
                          &lt;div class="main-cat__column"&gt;
                              &lt;div class="item"&gt;&lt;a href="[~26~]"&gt;
                              &lt;img src="assets/images/categories/ice.jpg" alt="Мороженое"
                                          class="item-img"&gt;
                                      &lt;h3 class="bg-red"&gt;Мороженое&lt;/h3&gt;
                                  &lt;/a&gt;&lt;/div&gt;
                              &lt;div class="item"&gt;&lt;a href="[~28~]"&gt;&lt;
                              img src="assets/images/categories/cake.jpg" alt="Торты"
                                          class="item-img"&gt;
                                      &lt;h3 class="bg-yellow"&gt;Торты&lt;/h3&gt;
                                  &lt;/a&gt;&lt;/div&gt;
                          &lt;/div&gt;
                          &lt;div class="main-cat__column"&gt;
                              &lt;div class="item"&gt;&lt;a href="[~24~]"&gt;&lt;
                              img src="assets/images/categories/pelmeni.jpg"
                                          alt="Фирменные полуфабрикаты" class="item-img"&gt;
                                      &lt;h2 class="bg-yellow"&gt;Фирменные полуфабрикаты&lt;/h2&gt;
                                  &lt;/a&gt;&lt;/div&gt;
                          &lt;/div&gt;                 
    </code></pre>       
    <div class="image_number">
      <p style="margin-top:121px">20</p>
    </div>
  </div>
  <div class="main_block main_content">
    <pre style="margin-bottom: -18px;">
      <code>
        &lt;div class="main-cat__column"&gt;
        &lt;div class="item"&gt;&lt;a href="[~29~]"&gt;&lt;
        img src="assets/images/categories/frozen-products.jpg"
                    alt="Замороженные овощи и ягоды" class="item-img"&gt;
                &lt;h3 class="bg-yellow"&gt;Замороженные овощи и ягоды&lt;/h3&gt;
            &lt;/a&gt;&lt;/div&gt;
        &lt;div class="item"&gt;&lt;a href="[~27~]"&gt;&lt;
        img src="assets/images/categories/sausage.jpg" alt="Колбасные изделия"
                    class="item-img"&gt;
                &lt;h3 class="bg-red"&gt;Колбасные изделия&lt;/h3&gt;
            &lt;/a&gt;&lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;div class="utp block"&gt;
&lt;h2&gt;Что отличает нас от других?&lt;/h2&gt;
&lt;div class="utp__inner flex_top"&gt;
    &lt;div class="utp__item"&gt;
        &lt;div class="utp__item-img"&gt;&lt;
        img src="assets/templates/images/herbal-spa-treatment-leaves.svg" alt="рисунок курсовой работы"&gt;&lt;/div&gt;
        &lt;h4&gt;Только натуральные продукты&lt;/h4&gt;
    &lt;/div&gt;
    &lt;div class="utp__item"&gt;
        &lt;div class="utp__item-img"&gt;&lt;
        img src="assets/templates/images/quality.svg" alt="рисунок курсовой работы"&gt;&lt;/div&gt;
        &lt;h4&gt;Международные стандарты качества&lt;/h4&gt;  
        &lt;/div&gt;
&lt;div class="utp__item"&gt;
    &lt;div&gt; class="utp__item-img"&gt;&lt;img src="assets/templates/images/cooking.svg" alt="рисунок курсовой работы"&gt;&lt;/div&gt;
    &lt;h4&gt;Профессиональный подход&lt;/h4&gt;
&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
      </code>
    </pre>   
    <div class="image_number">
      <p style="margin-top: 86px;"> 22</p>
    </div>
  </div>
  <div class="main_block main_content">
    <br>
    <pre><code>
      &lt;div&gt; class="interesting block"&gt;
    [[DocLister?
    &parents=`9`
    &display=`1`
    &dateFormat=`%d.%m.%Y`
    &tvList=`image`
    &tvPrefix=``
    &summary=`notags,len:150`
    &tpl=`tpl_interesting`]]
&lt;/div&gt;
&lt;div class="news news_mobile block"&gt;
    &lt;div&gt; class="news__inner flex"&gt;
        [[DocLister?
        &parents=`6`
        &display=`2`
        &dateFormat=`%d.%m.%Y`
        &tvList=`image`
        &tvPrefix=``
        &summary=`notags,len:150`
        &tpl=`tpl_news`]]
    &lt;/div&gt;
    &lt;a&gt; href="[~6~]" class="btn_yellow"&gt;Все новости&lt;/a&gt;
&lt;/div&gt;
&lt;div&gt; class="recipes block"&gt;
    [[DocLister?
    &parents=`7`
    &display=`1`
    &dateFormat=`%d.%m.%Y`
    &tvList=`image`
    &tvPrefix=``
    &summary=`notags,len:150`
    &tpl=`tpl_recipes`]]
&lt;/div&gt;
&lt;/div&gt;
{{footer}}
&lt;/main&gt;
    </code></pre>
    <br><br><br>
    <div class="image_number">
      <p>23</p>
    </div>
  </div>
  <div class="main_block main_content">  
    <pre style="margin: -13px;"><code>
      &lt;/body&gt;
      &lt;/html&gt;
      Вопрос-ответ:
      &lt;!doctype html&gt;
      &lt;html lang="ru"&gt;
        &lt;head&gt;
          {{head}}
        &lt;/head&gt;
        &lt;body&gt;
          {{header}}
          &lt;div class="container"&gt;
            [[DLcrumbs?
            &outputSeparator=` / `
            &showCurrent=`1`
            ]]
            &lt;div class="answer__title"&gt;
              &lt;h1 class="box__title"&gt;[*pagetitle*]&lt;/h1&gt; &lt;div class="btn__answer"&gt;Задать вопрос&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="faq__box"&gt;
              [!DocLister? 
              &controller=`onetable` 
              &table=`module_reviews` 
              &idField=`id`
              &idType=`documents` 
              &ignoreEmpty=`1`
              &id=`list`
              &display=`6`
              &dateFormat=`%d.%m.%Y`&paginate=`pages`
              &pageAdjacents=`1`
              &TplNextP=`@CODE:&lt;a href="[+link+]"&gt;&lt;i class="icon-right-open"&gt;&lt;/i&gt;&lt;/a&gt;` 
              &TplPrevP=`@CODE:&lt;a href="[+link+]"&gt;&lt;i class="icon-left-open"&gt;&lt;/i&gt;&lt;/a&gt;` 
              &TplPage=`@CODE: &lt;a href="[+link+]"&gt;[+num+]&lt;/a&gt;` 
              &TplCurrentPage=`@CODE: &lt;span class="currentpage"&gt;[+num+]&lt;/span&gt;` 
              &TplWrapPaginate=`@CODE: &lt;div class="pagination"&gt;[+wrap+]&lt;/div&gt;`
              &tpl=`@CODE: &lt;div class="faq__item"&gt;
              &lt;div class="faq__question"&gt;
                &lt;div class="faq__date"&gt;Вопрос&lt;hr&gt;[+date+]&lt;/div&gt;
                &lt;div class="faq__right"&gt;
                  &lt;div class="faq__name"&gt;[+name+]&lt;/div&gt;      
    </code></pre>
    <br><br><br>
    <div class="image_number">
      <p>22</p>
    </div>
  </div>
  <div class="main_block main_content">  
    <pre style="margin: -13px;"><code>
      &lt;div class="faq__text"&gt;[+question+]&lt;/div&gt;
      &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class="faq__answer"&gt;
          &lt;div class="faq__date"&gt;Ответ для [+name+]
              &lt;hr&gt;
          &lt;/div&gt;
          &lt;div class="faq__right"&gt;
              &lt;div class="faq__text"&gt;[+answer+]&lt;/div&gt;
          &lt;/div&gt;
      &lt;/div&gt;
      &lt;/div&gt;`!]
      [+list.pages+]
      &lt;/div&gt;
      &lt;/div&gt;      
      &lt;div class="overlay"&gt;&lt;/div&gt;
      &lt;div class="modal" id="faq"&gt;
          &lt;i class="icon-cancel dowload-form__cancel"&gt;&lt;/i&gt;
          &lt;div id="faq-wrapper"&gt;
              [!FormLister?
              &formid=`faq`
              &rules=`{
              "name":{
              "required":"Обязательно введите имя"
              },
              "phone":{
              "required":"Обязательно введите номер телефона",
              "phone":"Введите номер правильно"
              },
              "question":{
              "required":"Обязательно введите вопрос"
              }
              }`
              &formTpl=`@CODE:
              &lt;form method="post"&gt;
                  &lt;input type="hidden" name="formid" value="faq"&gt;
                  &lt;input type="text" class="form-control[+name.errorClass+][+name.requiredClass+]" placeholder="Имя"
                      name="name" value="[+name.value+]"&gt;
                  [+name.error+]
                  &lt;input type="text" class="form-control[+phone.errorClass+][+phone.requiredClass+]" placeholder="Телефон"
                      name="phone" value="[+phone.value+]"&gt;      
    </code></pre>   
    <div class="image_number">
      <p>23</p>
    </div>
  </div>
  <div class="main_block main_content">  
    <pre style="margin: -13px;"><code>
      [+phone.error+]
      &lt;textarea&gt; class="form-control form__message[+question.errorClass+][+question.requiredClass+]" placeholder="Сообщение" name="question" rows="10"&gt;[+question.value+]&lt;/textarea&gt;
      [+question.error+]
      &lt;button type="submit" class="form-btn"&gt;Отправить&lt;/button&gt;
      [+form.messages+]
      &lt;/form&gt;`
      &messagesOuterTpl=`@CODE:&lt;div class="alert alert-danger" role="alert"&gt;[+messages+]&lt;/div&gt;`
      &errorTpl=`@CODE:&lt;span class="help-block"&gt;[+message+]&lt;/span&gt;`
      &errorClass=` error`
      &requiredClass=` error`
      &to=`[(emailsender)]`
      &subject=`Ноый вопрос`
      &reportTpl=`@CODE:
      &lt;p&gt;Имя: [+name.value+]&lt;/p&gt;
      &lt;p&gt;Телефон: [+phone.value+]&lt;/p&gt;
      &lt;p&gt;Сообщение: [+question:strip_tags:nl2br+]&lt;/p&gt;`
      &successTpl=`@CODE: &lt;div&gt; class="success"&gt;Ваш вопрос успешно отправлен&lt;/div&gt;`
      !]				
      &lt;/div&gt;
      &lt;/div&gt;
      {{footer}}
      &lt;/main&gt;
      &lt;/body&gt;
      &lt;/html&gt;

    </code></pre>   
    <div class="image_number">
      <p style="margin-top: 300px;">24</p>
    </div>
  </div>


  <div class="main_block main_content">
    <p class="soderjj"><span class="title_coderj">Заключение</span></p>
    <p class="main_content_text" style="margin-bottom:0px;">
      После выполнения всей курсовой работы я закрепил навыки в
       веб-разработки с использованием сервиса для разработки интерфейсов и прототиппирования figma, а также следующий инструментов:
    </p>
    <p class="main_content_text" style="margin:0px;">
      1 Figma
    </p>
    <p class="main_content_text" style="margin:0px;">
      2 OpenServer
    </p>
    <p class="main_content_text" style="margin:0px;">
      3 CMS Modx Evolution
    </p>
    <p class="main_content_text" style="margin:0px;">
      Figma очень удобное программное обеспечение для разработки интерфейсов и прототиппирования.
    </p>
    <p class="main_content_text" style="margin:0px;">
      OpenServer удобный и не заменимый сервис для локальной работы с веб-страницами для веб-разработчиков. 
    </p>
    <p class="main_content_text" style="margin:0px;">
      CMS Modx Evolution мощная и высокотехнологичная платформа с помощью которой можно создавать многостраничные веб-сайты. 
      У Modx Evolution широкий спектр плагинов и возможностей, который позволяет создавать не только Land Page, но и полноценные многостраничные проекты. В ходе работы над данным проектом я закрепил навыки верстки страниц с использованием HTML-разметки, CSS-стилей, написания скриптов с помощью JavaScript,
       а также закрепил и усвоил навыки PHP. Которые в данной работе мне помогли реализовать запросы для обработки документов, создания карт и реализации поиска на сайте. 
    </p>
    <p class="main_content_text" style="margin:0px;">
      С полноценным результатом моей работы можно ознакомится по ссылки – http://cmak.kz/.
    </p>  
    <div class="image_number">
      <p style="margin-top: 380px;">25</p>
    </div>
  </div>
  <div class="main_block">
    <div class="block_text">
      <div class="main_spisok_lit">Список использованной литературы</div>
    </div>
    <div class="block_text-fio">
      <p class="spisok_lit">
        1 Frontend Architecture for Design Systems Author: Micah Godbolt, Micah Godbolt, Inc. 2016 O’Reilly Media.
      </p>
      <p class="spisok_lit">
        2 Основы работы с HTML-редактором Dreamweaver Бурсов М.В. и др. 2002
      </p>
      <p class="spisok_lit">
        3 HTML и CSS на примерах СПб: БХВ-Петербург, 2005
      </p>
      <p class="spisok_lit">
        4 MODx Web Development, Antano Solar John, Antano Solar John, 2009 Packt
      </p>
      <p class="spisok_lit">
        5 MODx Web Development - Second Edition, Antano Solar John, 2011 Packt
      </p>
      <p class="spisok_lit">
        6 Разработка пользовательских интерфейсов, Тидвелл Дж., Питер, 2008
      </p>
      <p class="spisok_lit">
        7 Виртуальное моделирование, прототипирование и промышленный дизайн: материалы IV Международной научно-практической конференции. г. Тамбов, 15 – 17 ноября 2017 г.
      </p>
      <p class="spisok_lit">
        8 Эффективный самоучитель по креативному Web-дизайну. HTML, XHTML, CSS, Java Script, PHP, ASP, ActiveX. Текст, графика, звук и анимация, Крис Джамса, Конрад Кинг, Энди Андерсон, ДиаСофтЮП, 2005
      </p>
      <p class="spisok_lit">
        9 Основы работы с HTML-редактором Dreamweaver, М. В. Бурсов, В. М. Домненко, Д. А. Гаврилин, СПбГИТМО, 2002
      </p>
      <p class="spisok_lit">
        10 Основы программирования для Интернета: Стат. HTML - станицы. CGI - пограммиование с применением яз. PHP. Разраб. динам. страниц с помощью JavaScript. Технология создания актив. серве. страниц ASP, Будилов В. А., БХВ-Петербург, 2003
      </p>
      <p class="spisok_lit">
        11 JavaScript. Энциклопедия пользователя, Вагнер Р., Вайк А., 2001
      </p>
      <p class="spisok_lit">
        12 JavaScript. Наглядный курс создания динамических Web-страниц, Келли Л. Мэрдок, 2001
      </p>
      <p class="spisok_lit">
        13 Практические занятия по JavaScript для начинающих, Николенко Д.В., 2000
      </p>
      <p class="spisok_lit">
        14 Освой самостоятельно JavaScript за 24 часа: Рук. для начинающих: Двадцать четыре практ. занятия: Описан JavaScript 1.5, Вильямс, 2001
      </p>
      <p class="spisok_lit">
        15 Изучаем TypeScript 3, Натан Розенталс, ДМК Пресс, 2019
      </p>
      <p class="spisok_lit">
        16 GitLab Repository Management, Jonathan M. Hethey, Packt Publishing, 2013
      </p>
      <p class="spisok_lit">
        17 Web-разработка средствами MODx, Шпак Юрий Алексеевич, Издательство: Корона-Век, МК-Пресс, 2012
      </p>
      <p class="spisok_lit">
        18 jQuery: подробное руководство по продвинутому JavaScript, Бер Бибо, Иегуда Кац, Санкт-Петербург, Москва, 2009
      </p>
      <p class="spisok_lit">
        19 HTML 4.0. Новый уровень создания html-документов, Матросов А.В., Сергеев А.О., СПб 2003
      </p>
      <p class="spisok_lit">
        20 Руководство по Figma, Александр, Окунев, 2019
      </p>
    </div>  
    <div class="image_number">
      <p style="margin-top: 150px;">25</p>
    </div>
  </div>
  <script src="libs/highlight.pack.js"></script> <!--подключение скрипта highlight.pack.js-->
  <script>
    hljs.initHighlightingOnLoad(); 
  </script> <!--инициализация highlight-->
</body>

</html>